<img src="chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/common/img/eye_19x19_red.png">
    <span id="StayFocusd-infobar-msg"></span>
    <span id="StayFocusd-infobar-links">
        <a id="StayFocusd-infobar-never-show">hide forever</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="StayFocusd-infobar-hide">hide once</a>
    </span>
</div>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><img src="images/Logo.png" width="117" height="40"></a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-right"><a class="btn btn-default btn-lg" role="button" id="twitter"><span></span></a>
        <a class="btn btn-default btn-lg" role="button" id="facebook"><span></span></a>
        <a class="btn btn-default btn-lg" role="button" id="linkedin"><span></span></a>  </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="priority">
      <div class="container">
      <h1>Curious about our experiences?</h1>
        <p>Here are some sample experiences available for booking now. Email us at <a href="mailto:enquiries@tripalocal.com">enquiries@tripalocal.com</a> with the name of your </br>chosen experience, preferred day and time and group size. We will revert within 24 hours with further details.</p>
      </div>
    </div>

 <div class="exp">
    <div class="container">
      <div class="exp-bg" style="background-image:url(images/hosts/FelicityO_bg.jpg);"> </div>
      <div class="bookbox">
      <div class="profile"><img src="images/hosts/FelicityO.jpg"></div>
        <p>Discover Melbourne Street Art</br>with Felicity O.</p>
        <p><span>$40</span> per person</br>for 2 hours</br>(Up to 3 people)</p>
        <p>Please email us with your preferred</br>date, time and group size</p>
        <p><img src="images/details.png" width="183" height="35"></p>
        <p><a class="btn btn-primary btn-lg" role="button">Email Us</a></p>
     </div>
      <div class="exp-des rightColumn">
      <h3>Discover Melbourne's Street Art Laneways with Felicity O.</h3>
      <p>– Melbourne CBD</p>
        <p>Hi everyone, my name is Felicity. A born and bred Melbournian,  I love the 'culture capital of Australia', especially the internationally recognised thriving network of laneways and street art.</p>
        <p> I will spend 1.5 – 2 hours to take you on a journey to discover my four to five of my favourite street art laneways in the Melbourne CBD. Along the way, as an art lover, I will take you into the world of stencil art, sticker art, poster art and trends in the street art movement. I want to share with you my love of colour, movement and passion for Melbourne's street art. Hopefully, by the end of the walk, some of my love for Melbourne would have rubbed off on you!</p>
        <p>Please wear comfortable walking shoes and be prepared for all sorts of weather (Melbourne has 4 seasons in a day!) so it is best to bring an umbrella and a jacket.</p>
      </div>
      
 </div>  
 </div>
 
 <div class="exp">
    <div class="container">
      <div class="exp-bg" style="background-image:url(images/hosts/YeokW_bg.jpg);"> </div>
      <div class="bookbox">
      <div class="profile"><img src="images/hosts/YeokW.jpg"></div>
        <p>Hidden Contemporary Art Galleries</br>with Yeok W.</p>
        <p><span>$55</span> per person</br>for 3 hours</br>(Up to 3 people)</p>
        <p>Please email us with your preferred</br>date, time and group size</p>
        <p><img src="images/details.png" width="183" height="35"></p>
        <p><a class="btn btn-primary btn-lg" role="button">Email Us</a></p>
     </div>
      <div class="exp-des rightColumn">
      <h3>Hidden Contemporary Art Galleries with Yeok W.</h3>
      <p>– Inner Northern Surburbs, inner Southern Surburbs and/or Melbourne CBD</p>
        <p>I am a visual artist who exhibits regularly in Melbourne. I am very interested in the art scene in Melbourne and know many contemporary galleries in Melbourne with the focus on pop surrealism and illustrations.</p>
        <p>I invite you to join me in the Melbourne city to experience the contemporary art scene and discover the many hidden art galleries Melbourne has to offer. We will start in the mid to late afternoon for a couple of art gallery openings, stop for a quick bite at a local eatery before finishing off the evening with a couple more art gallery openings. Of course, I can cater to your personal interests and time constraints. At the galleries, you will feel the vibe of the Melbourne contemporary artist community and perhaps even meet the artists themselves! As an artist, I will share my views of the exhibits and the techniques. By the end of the experience, you will have seen a side of Melbourne that is all too often hidden and many have missed!</p>
      </div>
      
 </div>  
 </div>
 
 <div class="exp">
    <div class="container">
      <div class="exp-bg" style="background-image:url(images/hosts/LaurenB_bg.jpg);"> </div>
      <div class="bookbox">
      <div class="profile"><img src="images/hosts/LaurenB.jpg"></div>
        <p>Quirky Entertainment Adventures</br>with Lauren B.</p>
        <p><span>$60</span> per person</br>for 3.5 hours</br>(Up to 3 people)</p>
        <p>Please email us with your preferred</br>date, time and group size</p>
        <p><img src="images/details.png" width="183" height="35"></p>
        <p><a class="btn btn-primary btn-lg" role="button">Email Us</a></p>
     </div>
      <div class="exp-des rightColumn">
      <h3>Quirky Entertainment Adventures with Lauren B.</h3>
      <p>– Inner Northern Suburbs and/or Melbourne CBD</p>
        <p>Hello there! I hail from the inner northern suburbs of Melbourne and work in the Melbourne CBD. A regular attendee at Melbourne's many live music, theatre and comedy events, I know Melbourne has many live entertainment events on offer at any one time and as a traveller, it could be difficult know which ones to attend. So let me introduce you to some of my favourite live shows in the Melbourne CBD and/or in the inner north. If you have preferences for certain genres, let me know too and I can customise the experience to suit your tastes. I hope you leave Melbourne with an insight into Melbourne's live entertainment scene and a taste of what this culture capital has on offer. </p>
        <p>Please note ticket prices are excluded in the experiences. Please let me know if you have a set budget.</p>
      </div>
      
 </div>  
 </div>
 
 <div class="exp">
    <div class="container">
      <div class="exp-bg" style="background-image:url(images/hosts/BenK_bg.jpg);"> </div>
      <div class="bookbox">
      <div class="profile"><img src="images/hosts/BenK.jpg"></div>
        <p>Stories Behind the Historical Architecture with Ben K.</p>
        <p><span>$40</span> per person</br>for 2 hours</br>(Up to 4 people)</p>
        <p>Please email us with your preferred</br>date, time and group size</p>
        <p><img src="images/details.png" width="183" height="35"></p>
        <p><a class="btn btn-primary btn-lg" role="button">Email Us</a></p>
     </div>
      <div class="exp-des rightColumn">
      <h3>Stories Behind the Historical Architecture with Ben K.</h3>
      <p>– Melbourne CBD</p>
        <p>I'm a Melbourne local, born and bred. Outside of my work in the public transport sector, my passion lies with Melbourne's historical buildings.</p>
        <p>Together, we will explore Melbourne as it is today and understand it's past. We can start off with a coffee in one of Melbourne's renowned cafes before trekking off on foot or by tram. I will share the unknown stories behind some of my favourite architecture and how they turn Melbourne into the amazing place that it is today.</p>
        <p>Through this experience, you will uncover the past of the city, much of which is hidden in plain sight. It would be a pleasure to show others the place I call home.</p>
        <p>A good pair of walking shoes will come in handy. If the weather isn't kind, it's nothing that an umbrella or a tram ride cannot fix. Any food or coffees are excluded in the experiences price.</p>
      </div>
      
 </div>  
 </div>  
        
        
        
      
	<div class="footer">
    <div class="container">
    <h1>See it, feel it, experience it</br>like a local</h1>
    <img src="images/Logo.png" width="294" height="101" alt="Tripalocal">
        <p><a href="mailto:enquiries@tripalocal.com">enquiries@tripalocal.com</br>
        </a>COPYRIGHT © TRIPALOCAL 2014 | DISCLAIMER</p>
        <p><a class="btn btn-default btn-lg" role="button" id="twitter"><span></span></a>
        <a class="btn btn-default btn-lg" role="button" id="facebook"><span></span></a>
        <a class="btn btn-default btn-lg" role="button" id="linkedin"><span></span></a>        
        </p>
        </div>
  </div>